<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Dog Park</h1>

  <h2>
    Here you can play with all you neighbourhood buddies.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", id: "button" %>
</div>


