<% provide(:title, 'Join') %>
<h1>Join the pack</h1>

<div class="row">
	<div class="span6 offset3 has-error">
		<%= form_for(@master) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Join the Pack", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>